<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">

        <form class="d-flex">
            <input matInput (keyup)="applyFilter($event.target.value)" class="form-control me-2" type="search" placeholder="Realiza tu búsqueda" aria-label="Search">
        </form>

        <button class="btn btn-outline-dark" (click)="cambiar(true)"> Listado de Productos</button> &nbsp;
        <button *ngIf="cantidad>0" class="btn btn-outline-dark" (click)="cambiar(false)"> Carrito ({{cantidad}})</button>
        <button *ngIf="cantidad==0" class="btn btn-outline-dark" (click)="cambiar(false)"> Carrito</button>

    </div>
</nav>