<app-header [dataSource]="dataSource" [listado]="listado" [dataSourceCarrito]="dataSourceCarrito" (listadoChange)="listado=$event" [cantidad]="cantidad">
</app-header>

<div class="container" *ngIf="listado" style="margin-top: 5%; margin-left: 23%;">

    <table class="mat-elevation-z8 animated fadeIn" [dataSource]="dataSource" mat-table style="width:70%">

        <ng-container matColumnDef="planes">
            <th mat-header-cell *matHeaderCellDef> Planes </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="periodos">
            <th mat-header-cell *matHeaderCellDef> Periodo </th>
            <td mat-cell *matCellDef="let element">
                <br>
                <tr *ngFor="let ele of element.periodos">
                    <span>{{ele.periodo}} meses</span>
                    <span> $ {{ele.valor}} </span> &nbsp;
                    <button mat-button class="btn btn-outline-success" (click)="agregarItem(ele, element)"><i class="fa fa-cart-plus"></i></button>
                    <hr>
                </tr>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="container" *ngIf="!listado&&cantidad!=0" style="margin-top: 5%; margin-left: 23%;">
    <table class="mat-elevation-z8 animated fadeIn" [dataSource]="dataSourceCarrito" mat-table style="width:70%">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Plan </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="periodo">
            <th mat-header-cell *matHeaderCellDef> Periodo </th>
            <td mat-cell *matCellDef="let element"> {{element.periodo}} meses </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element">$ {{element.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button class="btn btn-outline-danger" (click)="removerItem(element.id_producto)"> Borrar</button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCarrito"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCarrito;"></tr>
    </table>

</div>

<div class="container" *ngIf="!listado&&cantidad==0" style="margin-top: 5%; margin-left: 23%;">
    <h1>Parece que tu carro está vacío</h1>
</div>